In [161]:
import pandas as pd  # для обработки данных в Python
import sqlite3
import contextlib

#### Заполняем данными таблицы в базе данных sqlite

In [162]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS billing_type(
            id INTEGER NOT NULL,
            billing_type TEXT NOT NULL
            )
        ''')

In [163]:
import csv

In [164]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        with open('./billing_file/billing_type.csv', 'r') as file:
            csv_reader = csv.reader(file)

            next(csv_reader)

            for row in csv_reader:
                cursor.execute('''
                INSERT INTO billing_type (id, billing_type) VALUES (?, ?)
                ''', row)

    connection.commit()

In [165]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS persons(
            id INTEGER NOT NULL,
            soc_st INTEGER NOT NULL,
            surname TEXT NOT NULL,
            name TEXT NOT NULL,
            patronymic TEXT NOT NULL,
            move_template INTEGER NOT NULL,
            mobile_operator INTEGER NOT NULL,
            lac_id INTEGER NOT NULL,
            cell_id INTEGER NOT NULL,
            imsi INTEGER NOT NULL,
            imei INTEGER NOT NULL,
            msisdn INTEGER NOT NULL
            )
        ''')

In [166]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        with open('./billing_file/persons.csv', 'r') as file:
            csv_reader = csv.reader(file)

            next(csv_reader)

            for row in csv_reader:
                cursor.execute('''
                INSERT INTO persons (id, soc_st, surname, name, patronymic, move_template, mobile_operator, lac_id, cell_id, imsi, imei, msisdn) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
                ''', row)

    connection.commit()

In [167]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        CREATE TABLE IF NOT EXISTS main_billing(
            id INTEGER NOT NULL,
            billtime TEXT NOT NULL,
            call_duration INTEGER NOT NULL,
            billing_type_id INTEGER NOT NULL,
            lac_id INTEGER NOT NULL,
            cell_id INTEGER NOT NULL,
            phone_b INTEGER NOT NULL,
            abonent_id INTEGER NOT NULL,
            abonentimei INTEGER NOT NULL,
            abonentimsi INTEGER NOT NULL,
            abonentphone INTEGER NOT NULL,
            reverseabonentphone INTEGER NOT NULL,
            reversephoneb INTEGER NOT NULL
            )
        ''')

In [168]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        with open('./billing_file/main_billing.csv', 'r') as file:
            csv_reader = csv.reader(file)

            next(csv_reader)

            for row in csv_reader:
                cursor.execute('''
                INSERT INTO main_billing (id, billtime, call_duration, billing_type_id, lac_id, cell_id, phone_b, abonent_id, abonentimei, abonentimsi, abonentphone, reverseabonentphone, reversephoneb) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
                ''', row)

    connection.commit()

#### Создаем таблицу bank_1 и заполняем данными о людях которые были рядом с первым банкоматом

In [169]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE bank_1 (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	cid INTEGER,
	lac INTEGER,
	abonent_id INTEGER
);

        ''')

In [170]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    INSERT INTO bank_1 (cid, lac, abonent_id) 
SELECT
    main_billing.cell_id,
    main_billing.lac_id,
    main_billing.abonent_id
FROM main_billing 
WHERE lac_id = 2212 AND cell_id = 47805
GROUP BY abonent_id;
        ''')
    connection.commit()

#### Создаем таблицу bank_2 и заполняем данными о людях которые были рядом со вторым банкоматом

In [171]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE bank_2 (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	cid INTEGER,
	lac INTEGER,
	abonent_id INTEGER
);

        ''')

In [172]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    INSERT INTO bank_2 (cid, lac, abonent_id) 
SELECT
    main_billing.cell_id,
    main_billing.lac_id,
    main_billing.abonent_id
FROM main_billing 
WHERE (lac_id = 3907 AND cell_id = 3134) 
   OR (lac_id = 2212 AND cell_id = 37111) 
   OR (lac_id = 2212 AND cell_id = 47536)
GROUP BY abonent_id;
        ''')
    connection.commit()

#### Создаем таблицу bank_3 и заполняем данными о людях которые были рядом с третьем банкоматом

In [173]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE bank_3 (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	cid INTEGER,
	lac INTEGER,
	abonent_id INTEGER
);
        ''')

In [174]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    INSERT INTO bank_3 (cid, lac, abonent_id) 
SELECT
    main_billing.cell_id,
    main_billing.lac_id,
    main_billing.abonent_id
FROM main_billing 
WHERE lac_id = 3907 AND cell_id = 39781
GROUP BY abonent_id;
        ''')
    connection.commit()

In [175]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE bank_crime_people (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	abonent_id INTEGER
);
        ''')

#### Выводим список тех людей, которые были во всех трех точках. Их будем считать подозреваевыми

In [176]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    INSERT INTO bank_crime_people (abonent_id) 
    SELECT DISTINCT b1.abonent_id
    FROM bank_1 b1
    INNER JOIN bank_2 b2 ON b1.abonent_id = b2.abonent_id
    INNER JOIN bank_3 b3 ON b1.abonent_id = b3.abonent_id;
        ''')
    connection.commit()

In [177]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE info_all_bank (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    billtime TEXT NOT NULL,
	abonent_id INTEGER,
    phone_b INTEGER
);
        ''')

#### Составим список тех кому звонили подозреваемые

In [178]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    INSERT INTO info_all_bank (billtime, abonent_id, phone_b) 
    SELECT 
        mb.billtime,
        mb.abonent_id,
        mb.phone_b
    FROM 
        main_billing mb
    JOIN 
        bank_crime_people bcp ON mb.abonent_id = bcp.abonent_id AND mb.phone_b <> 0;
        ''')
    connection.commit()

#### Список людей которые звонили всем подозреваемым

In [179]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE crime_phone (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    phone_b INTEGER NOT NULL,
    kol_number INTEGER
);
        ''')

In [180]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        INSERT INTO crime_phone (phone_b, kol_number) 
        SELECT phone_b, COUNT(DISTINCT abonent_id) AS unique_abonent_count
        FROM info_all_bank
        GROUP BY phone_b
        ORDER BY unique_abonent_count DESC;
        ''')
    connection.commit()

In [182]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        SELECT * FROM crime_phone
        ''')
        print("Водитель:", cursor.fetchall()[0])

Водитель: (1, 79822335369, 5)

79822335369 - водитель так как он звонил пятерым людям, что по условию задачу является единственным подходящим нам вариантом.

In [183]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    CREATE TABLE five_bad_boys (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    abonent_id INTEGER NOT NULL,
    abonentphone INTEGER,
    surname TEXT,
    name TEXT,
    patronymic TEXT
);
        ''')

In [184]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
    SELECT p.name, surname, patronymic, msisdn,p.rowid FROM persons AS p
    WHERE msisdn IN (79822335369)
        ''')
        print("Водитель:", cursor.fetchall()[0])

Водитель: ('Василий', 'Сафонов', 'Вадимович', 79822335369, 18567)

#### Выведем список всех людей, кому звонил водитель

In [185]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        INSERT INTO five_bad_boys (abonent_id, abonentphone) 
        SELECT DISTINCT 
            i.abonent_id,
            m.abonentphone
        FROM 
            info_all_bank i
        JOIN 
            main_billing m ON i.abonent_id = m.abonent_id
        WHERE 
            i.phone_b = 79822335369;
        ''')
        connection.commit()

In [186]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        UPDATE five_bad_boys
        SET 
            surname = p.surname,
            name = p.name,
            patronymic = p.patronymic
        FROM 
            five_bad_boys f
        JOIN 
            persons p ON f.abonentphone = p.msisdn
        WHERE 
            five_bad_boys.abonent_id = f.abonent_id
        ''')
        connection.commit()

In [187]:
with contextlib.closing(sqlite3.connect('mybd.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
        SELECT * FROM five_bad_boys
        ''')
        a = cursor.fetchall()
        for i in a:
            print(i)

(1, 44768, 79822479258, 'Ларин', 'Юрий', 'Сергеевич')
(2, 44192, 79122476074, 'Селиванов', 'Тимур', 'Вадимович')
(3, 48962, 79122502276, 'Круглов', 'Владимир', 'Владимирович')
(4, 49538, 79822505444, 'Зимин', 'Алексей', 'Тимофей')
(5, 44336, 79122476874, 'Никулин', 'Петр', 'Владимирович')

#### Эти люди и есть грабители